*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    padding: 0em 1em;
}
header{
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: white;
    padding: 1em 0;
}
.invisible{
    display: none;
}
.log-out-btn{
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 1rem;
}


.imageOptions{
    width: 200px;
    height: 200px;
}

.center{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    height: fit-content;
    border: 1px solid black;
    display: inline-block;
}